pandas
numpy
scikit-learn
lightgbm
xgboost
scipy
seaborn
cloudpickle
cachetools
imbalanced-learn
optuna
tensorflow
lxml
matplotlib
boto3
pydantic
snowflake-connector-python
apache-airflow-providers-snowflake
snowflake-sqlalchemy
apache-airflow-providers-amazon
snowflake-connector-python[pandas]
python-dotenv