pandas
numpy
scikit-learn
lightgbm
xgboost
scipy
seaborn
cloudpickle
cachetools
imbalanced-learn
optuna
tensorflow
lxml
matplotlib
boto3
pydantic
snowflake-connector-python[pandas]
# snowflake-snowpark-python[pandas]
python-dotenv