s3fs==2023.12.2
prefect-aws
prefect-snowflake
sqlalchemy
pandas
numpy
cachetools
lxml
boto3
pydantic
snowflake-connector-python
snowflake-connector-python[pandas]
python-dotenv
cryptography==38.0.4
pyopenssl==22.1.0
griffe
